@font-face {
  font-family: 'SFProDisplay';
  src: url('../public/sf-pro-display-cufonfonts/SFPRODISPLAYREGULAR.OTF') format('opentype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'SFProDisplay';
  /* , sans-serif; */
}
